body,
#app,
.main,
.app {
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
}

.link {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Play', Courier, sans-serif;
    color: #000;
}

