@import "~bootstrap/scss/bootstrap";

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
}

.link {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}